 .node {
        cursor: pointer;
    }
    
    .node circle {
        fill: black;
        stroke: black;
        stroke-width: 1px;
    }
    
    .node text {
        font: 12px sans-serif;
    }
    
    .link {
        fill: none;
        stroke: black;
        stroke-width: 1px;
    }
    .icon-large{
        width:200px;
    }
    .icon-large img{
        transform: translate(10%,0px);
        width:80%;

    }
    .hover_darken:hover{
        transition: background-color 1s ease;
        background-color: lightgray;
    }
    .hover_darken{
        transition: background-color 1s ease;
        background-color:white;
    }
     .icon-small img{
        position:relative;
        top:-15px;
        left:40%;
        width:50px;
        height:50px;
    }
    