<section class="row card-panel grey">
    <section ng-repeat='item in record.playerHands track by $index' class='row' ng-if='record.playerHands.length>0'>
        <div class="card-panel grey  lighten-2" style='height:125px;'>
            <div class='card panel icon-small col s4 green' style='height:80px;'>
                <card-title>Player</card-title>
                <p/>
                <rock-image ng-if="record.playerHands[record.playerHands.length - 1 -$index]=='R'"></rock-image>
                <paper-image ng-if="record.playerHands[record.playerHands.length -1 - $index]=='P'"></paper-image>
                <scissor-image ng-if="record.playerHands[record.playerHands.length -1 - $index]=='S'"></scissor-image>
            </div>
            <div class='card panel icon-small col s4 red   row' style='height:80px;'>
                <card-title>AI</card-title>
                <p/>
                <rock-image ng-if="record.aiHands[record.playerHands.length -1 - $index]=='R'"></rock-image>
                <paper-image ng-if="record.aiHands[record.playerHands.length -1 - $index]=='P'"></paper-image>
                <scissor-image ng-if="record.aiHands[record.playerHands.length -1 - $index]=='S'"></scissor-image>
            </div>
            <div>
                <div class='card panel icon-small col s4' ng-class='{"red ":record.winners[record.playerHands.length -1 - $index] == "AI","green":record.winners[record.playerHands.length - $index] == "Player", }'
                style='height:80px;'>
                    <card-title>Winner</card-title>
                    <p class="md-headline">{{record.winners[record.playerHands.length - 1 -$index]}}</p>
                </div>
            </div>
        </div>
    </section>
</section>